.container {
    font-family: arial, sans-serif;
    border: 1px solid #103360;
    padding: 16px;
    border-radius: 8px;
    height: 400px;
    width: 500;
    border-width: medium;
    margin-top: 30px;
    background-color: rgb(31, 233, 226);
}

h2 {
    text-align: left;
}

.formControl {
    border: 1px solid blueviolet;
    background-color: cadetblue;
    border-radius: 8px;
    text-align: left;
    width: 400px;
}

.canvas {
    position: fixed;
    top: -200px;
    left: 150px;

}

.figure {
    position: relative;
    left: -200px;
}

.heading {
    position: relative;
    top: -200px;
    right: -200px;
    list-style: none;
}

li {
    list-style-type: none;
}

h3 {
    font-size: auto;
    font-weight: 100;
    color:black;
    font-stretch: expanded;
    margin-top: -200px;

}
footer{
    position: fixed;
    margin-top: 100px;
    padding-top: 50px;
    margin-left: 500px;
    margin-top: -30px;
}

.temperatureMeasure {
    position: fixed;
    top:180px;
    left: 300px;
    font-size: 30px;
}

